<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File2</title>
</head>
<body>
0: 	 Bill is shouting at egg while Dog is shouting at tea. <br>
1: 	 Jeniffer is kissing fish while Grandfather is boiling egg.  <br>
2: 	 Bill is petting meat while Spotty is shouting at egg. <br>
3: 	 Frodo is hugging pillowcase while Bill is biting mug. <br>
4: 	 Spotty is biting coffee while Dog is petting matrass. <br>
5: 	 Jeniffer is chewing at kettle while Cat is hugging pillowcase. <br>
6: 	 Tom is biting coffee while Cat is meowing for mug. <br>
7: 	 Jeniffer is chewing at coffee while Uncle Sam is barking at kettle. <br>
8: 	 Bill is petting tea while Cat is boiling tea. <br>
9: 	 Cat is biting egg while Cat is barking at feather. <br>
10: 	 Bill is biting pillowcase while Grandfather is hugging meat. <br>
11: 	 Sam is meowing for mug while Sam is boiling kettle. <br>
12: 	 Frodo is chewing at coffee while Spotty is shouting at egg. <br>
13: 	 Cat is hugging mug while Jeniffer is shouting at meat. <br>
14: 	 Uncle Sam is hugging pillowcase while Dog is boiling matrass. <br>
15: 	 Frodo is chewing at tea while Tom is fighting for meat. <br>
16: 	 Bill is meowing for tea while Dog is barking at pillowcase. <br>
17: 	 Merry is fighting for egg while Spotty is meowing for feather. <br>
18: 	 Spotty is boiling pillowcase while Cat is meowing for tea. <br>
19: 	 Bill is meowing for feather while Frodo is hugging kettle. <br>
20: 	 Merry is shouting at pillowcase while Jeniffer is biting feather. <br>
21: 	 Uncle Sam is barking at mug while Jeniffer is kissing coffee. <br>
22: 	 Spotty is boiling feather while Grandfather is petting feather. <br>
23: 	 Uncle Sam is petting feather while Merry is barking at egg. <br>
24: 	 Merry is biting matrass while Tom is meowing for pillowcase. <br>
25: 	 Grandfather is biting tea while Uncle Sam is boiling mug. <br>
26: 	 Sam is meowing for milk while Bill is petting milk. <br>
27: 	 Frodo is chewing at kettle while Uncle Sam is shouting at feather.<br>
28: 	 Merry is fighting for meat while Frodo is biting egg. <br>
29: 	 Sam is boiling matrass while Tom is fighting for kettle. <br>
30: 	 Dog is chewing at milk while Dog is hugging coffee. <br>
31: 	 Frodo is fighting for kettle while Uncle Sam is boiling meat. <br>
32: 	 Merry is hugging egg while Frodo is fighting for matrass. <br>
33: 	 Uncle Sam is chewing at coffee while Sam is hugging fish. <br>
34: 	 Frodo is boiling meat while Uncle Sam is hugging mug. <br>
35: 	 Uncle Sam is meowing for fish while Bill is hugging meat. <br>
36: 	 Dog is kissing kettle while Tom is chewing at mug. <br>
37: 	 Dog is boiling meat while Uncle Sam is shouting at tea. <br>
38: 	 Grandfather is meowing for fish while Merry is kissing milk. <br>
39: 	 Bill is barking at pillowcase while Bill is fighting for tea. <br>
40: 	 Frodo is barking at pillowcase while Spotty is biting kettle. <br>
41: 	 Cat is shouting at coffee while Jeniffer is fighting for kettle. <br>
42: 	 Dog is fighting for mug while Jeniffer is boiling pillowcase. <br>
43: 	 Frodo is hugging kettle while Sam is biting matrass. <br>
44: 	 Spotty is chewing at fish while Frodo is petting milk. <br>
45: 	 Sam is fighting for coffee while Uncle Sam is hugging tea. <br>
46: 	 Grandfather is meowing for milk while Dog is fighting for tea. <br>
47: 	 Bill is biting pillowcase while Frodo is chewing at tea. <br>
48: 	 Bill is hugging feather while Uncle Sam is kissing feather. <br>
49: 	 Merry is biting fish while Merry is kissing pillowcase. <br>
<br>
<br>
<br>
U+008C<br>
<br>
\u008C<br>
<br>
&#140;<br>
</body>
</html>